:root{
    /* Primary colors */
    --slightly-desaturated-cayn: #5fb4a2;
    --dark-blue: #203a4c;
    --grayish-dark-blue:#33323d; 
    /* Secondary colors */
    --very-light-gray: #fafafa;
    --light-gray:#eaeaeb;
    --bright-red:#f43030;
}

/* Reset */
html{
    box-sizing: border-box;
    font-size: 62.5%;
    color: var(--grayish-dark-blue);
    background-color: var(--very-light-gray);
    scroll-behavior: smooth;
}

*{
    margin: 0;
}
*::before, *::after{
    box-sizing: inherit;
}
::selection{
    background-color: var(--grayish-dark-blue);
    color: var(--light-gray);
}

/* Font families */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;700&family=Public+Sans:wght@400;600&display=swap');


.font-h1{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.45px;
}
.font-h2{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: -0.36px;
}
.font-h3{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.29px;
}
.font-body1{
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0;
}
.font-body2{
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0;
}
/* ******************Buttons********************* */
/* Primary button */
.btn-primary{
    width: 200px;
    height: 48px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: var(--dark-blue);
    border: none;
  
    display: flex;
    justify-content: flex-start;
    gap: 20%;
    align-items: center;

    cursor: pointer;
    transition: all .2s ease-in;
  }
  .btn-primary:hover{
    background-color: var(--slightly-desaturated-cayn);
  }
  .btn-primary:hover svg g{
    transition: all .2s ease-in;
    stroke: #ffffff;
  }
  .btn-primary:disabled{
    background-color: var(--light-gray)
  }
  .btn-primary:disabled svg g{
    stroke: #ffffff;
  }
  .btn-primary:active{
    background-color: rgb(220, 220, 220);
  }
  .btn-primary:active svg g{
    stroke: #ffffff;
  }
  /* Secondary button */
  .btn-secondary{
    width: 162px;
    height: 48px;
    background-color: #ffffff;
    color: var(--grayish-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
    border: 1px solid var(--grayish-dark-blue);

    cursor: pointer;
    transition: all .2s ease;
  }
  .btn-secondary:hover{
    color: var(--very-light-gray);
    background-color: var(--grayish-dark-blue);
  }
  .btn-secondary:disabled, .btn-secondary:active {
    border: 1px solid var(--slightly-desaturated-cayn);
    color: var(--slightly-desaturated-cayn);
  }